<div class="row text-center justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <form #f="ngForm" (ngSubmit)="onSubmit()">
        <div class="card-body">

          <h2><b>Add Member</b></h2>
          <br>


          <div *ngIf="successAlert" class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" (click)="setAlertOff()" aria-hidden="true">&times;</button>
            <strong>{{message}}</strong>
          </div>

          <div *ngIf="errorAlert" class="red">
            <button type="button" class="close" data-dismiss="alert" (click)="setAlertOff()" aria-hidden="true">&times;</button>
            <strong>{{message}}</strong>
          </div>



          <label for="Parent_id" class="pull-left">Select Parent</label>

          <div class="input-group no-border">

            <select class="form-control" name="Parent_id" #Parent_id=ngModel [(ngModel)]="member.Parent_id" required>
              <option [value]="item.id" *ngFor="let item of users">{{item.displayName}}</option>
            </select>
<!-- {{Parent_id.touched}} {{Parent_id.dirty}} -->         
         </div>
         <div *ngIf="Parent_id.errors && (Parent_id.dirty || Parent_id.touched)">
          <div class="alert alert-danger" *ngIf="Parent_id.errors.required">Parent is required</div>
          <!-- <div class="alert alert-danger" *ngIf="Parent_id.errors.minlength">Password must be 4 characters long.</div> -->
        </div>

          <span class="red" *ngIf="Parent_id.errors">
            Field is required
          </span>
          <label for="Name" class="pull-left">Name</label>
          <div class="input-group no-border">

            <input type="text" class="form-control" name="Name" id="Name" #Name=ngModel minlength="4" [(ngModel)]="member.Name" required>
          </div>
          
          <div *ngIf="Name.errors && (Name.dirty || Name.touched)">
            <div class="alert alert-danger" *ngIf="Name.errors.required">Name is required</div>
            <div class="alert alert-danger" *ngIf="Name.errors.minlength">Name must be 4 characters long.</div>
          </div>
          <br>
          <label for="Email" class="pull-left">Email</label>

          <div class="input-group no-border">
            <input type="email" class="form-control" name="Email" #Email=ngModel [(ngModel)]="member.Email" required>
          </div>
          <div *ngIf="Email.errors && (Email.dirty || Email.touched)">
            <div class="alert alert-danger" *ngIf="Email.errors.required">Email is required</div>
            <!-- <div class="alert alert-danger" *ngIf="Email.errors.minlength">Password must be 4 characters long.</div> -->
          </div>
          <br>
          <label for="PhoneNumber" class="pull-left">Phone Number</label>

          <div class="input-group no-border">
            <input type="text" class="form-control" name="PhoneNumber" #PhoneNumber=ngModel [(ngModel)]="member.PhoneNumber" required>
          </div>
          <div *ngIf="PhoneNumber.errors && (PhoneNumber.dirty || PhoneNumber.touched)">
            <div class="alert alert-danger" *ngIf="PhoneNumber.errors.required">Phone Number is required</div>
            <!-- <div class="alert alert-danger" *ngIf="PhoneNumber.errors.minlength">Password must be 4 characters long.</div> -->
          </div>
          <br>
          <!-- <label for="Amount" class="pull-left">Amount</label>

          <div class="input-group no-border">

            <input type="text" class="form-control" name="BasicAmmount" #Amount=ngModel [(ngModel)]="member.BasicAmmount" required>
          </div>

          <div *ngIf="Amount.errors && (Amount.dirty || Amount.touched)">
            <div class="alert alert-danger" *ngIf="Amount.errors.required">Amount is required</div>
           <div class="alert alert-danger" *ngIf="Email.errors.minlength">Password must be 4 characters long.</div>
          </div> -->
          <br>
          <label class="pull-left">Password</label>

          <div class="input-group no-border">
            <input type="text" class="form-control" name="password" #password=ngModel [(ngModel)]="member.Password" required>
          </div>
          <div *ngIf="password.errors && (password.dirty || password.touched)">
            <div class="alert alert-danger" *ngIf="password.errors.required">Password is required</div>
            <!-- <div class="alert alert-danger" *ngIf="PhoneNumber.errors.minlength">Phone Number must be 4 characters long.</div> -->
          </div>
          <br>
          <br>
          <br>
          <!-- {{f.invalid}} -->
          <div class="col-lg-12 col-md-6 col-sm-6 text-center">
            <button [disabled]="f.invalid" type="submit" class="btn btn-white btn-round" style="background:#FFEA0D;color:black">Add
              member
              <!-- <div class="ripple-container"></div>
              <div class="ripple-container"></div> -->
            </button>
          </div>


        </div>
      </form>
    </div>
  </div>

</div>