<div class="row">
  <div class="col-md-12">
    <button class="btn btn-primary" [routerLink]="['../add-member']">
      Add Member
    </button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title ">User Member</h4>
        <p class="card-category"> Here is a subtitle for this table</p>
        <input class="form-control" type="text" name="filter" [(ngModel)]="filter" placeholder="Search">
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Sr.#</th>
                <th>
                  ID
                </th>
                <th>
                  Name
                </th>
                <th>
                  Email
                </th>

                <th>
                  Initial balance
                </th>
                <th>Profit</th>
              </tr>
            </thead>
            <tbody>
                
              <tr *ngFor="let user of users | filter:filter; let i=index">
                <!-- {{user |json}} -->
                <td>
                  {{i+1}}
                </td>
                <td>{{user.id}}</td>
                <td>
                  {{user.displayName}}
                </td>

                <td>
                  {{user.email}}
                </td>
                <td class="text-primary">
                  {{user.initialBalance | number}} /-PKR
                </td>
                <td class="text-primary">

                  {{user.porfit | number}} /-PKR

                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>