<div class="row  text-center justify-content-center">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-icon">
        <div class="card-icon data-widget-black">
          <i class="material-icons">gesture</i>
        </div>
        <span *ngIf="role=='none'">
          <p class="card-category">Bonus Balance</p>
          <h3 class="card-title">{{bounes.bonusBalance|number}}</h3>
        </span>
        <span *ngIf="role=='Admin'">
          <p class="card-category">Basic Balance</p>
          <h3 class="card-title">{{bounes.basicBalance|number}}</h3>
        </span>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons text-success">build</i>
          <a href="#">Get More Balance</a>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100"></div>
  <div class="col-lg-6 col-md-6 col-sm-6 text-center" style="background:white;padding:100px;padding-top:30px;padding-bottom: 30px;">
    <h2><b>Wallet</b></h2>

    <div *ngIf="successAlert" class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert" (click)="setAlertOff()" aria-hidden="true">&times;</button>
      <strong>{{message}}</strong>
    </div>

    <div *ngIf="errorAlert" class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert" (click)="setAlertOff()" aria-hidden="true">&times;</button>
      <strong>{{message}}</strong>
    </div>
    <br>
    <form #f='ngForm' (ngSubmit)="onSubmit(f)">

      <label for="Parent_id" class="pull-left">Select Parent</label>

      <div class="input-group no-border">

        <select class="form-control" name="Parent_id" required [(ngModel)]="member.Parent_id">
          <option [value]="item.id" *ngFor="let item of users">{{item.displayName}}</option>
        </select>

      </div>
      <br>
      <div class="input-group no-border">
        <input type="text" class="form-control" placeholder="Amount" name="BasicAmmount" required [(ngModel)]="member.BasicAmmount">
      </div>
      <br>
      <div class="input-group no-border">
        <input type="password" class="form-control" placeholder="Password" name="Password" required [(ngModel)]="member.Password">
      </div>
      <br>
      <br>
      <br>
      <div class="col-lg-12 col-md-6 col-sm-6 text-center">
        <button [disabled]='f.invalid' type="submit" class="btn btn-white btn-round" style="background:#FFEA0D;color:black">Withdraw from
         <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
          Wallet
          <div class="ripple-container"></div>
          <div class="ripple-container"></div>
        </button>
      </div>
    </form>
  </div>
</div>