<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title ">Transactions</h4>
      <p class="card-category"> Here is a subtitle for this table</p>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr><th>
              ID
            </th>
            <th>
              Name
            </th>
            <th>
Email            </th>
           
            <th>
              Total Send 
            </th>
            <th>
              Total Received 
            </th>
            <th>
              Total Transaction 
            </th>
          </tr></thead>
          <tbody *ngIf=" allTransactions.length>0">
            <tr *ngFor="let t of allTransactions;let i=index">
              <td>
                {{i+1}}
              </td>
              <td>
                {{t.name}}
              </td>
              <td>
                {{t.email}}
              </td>
              <td>
                {{t.totalSend |number}}
              </td>
              <td class="text-primary">
                {{t.totalReceived | number}}
              </td>
              <td class="text-primary">
                {{t.totalTransections |number}}
              </td>
              
            </tr>
          
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>