/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    background: #000; 
}
::-webkit-scrollbar-thumb {
    background: #fff; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


input.form-control{
    color: white
}