/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    background: #000; 
}
::-webkit-scrollbar-thumb {
    background: #fff; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.sidebar[data-background-color="black"] .nav .nav-item i {
    color: #ffea0d;
}
.data-widget-yellow , .navbar.navbar-transparent{
    background-color: #ffea0d !important;
}
.data-widget-black{
    background-color: #000 !important;
}
input.form-control{
    color: white
}
.btn , .btn-round{
    background: #FFEA0D;
    color: black;
}
.btn , .btn-round:active{
    background: #FFEA0D;
    color: black;
}
.btn , .btn-round:hover{
    background: rgba(255, 234, 0, 0.863);
    color: black;
}
.btn , .btn-round:focus{
    background: rgba(255, 234, 0, 0.863);
    color: black;
}
oc-employee{
    margin: 0 1px !important;
}
.form-control{
    color:black
}