
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 text-center">
            <div class="input-group no-border">
                      <input type="text" value="" class="form-control" placeholder="https://domain.com/ref/1AD123ADKLE">
                      <button type="submit" class="btn btn-white btn-round">Copy
                        <div class="ripple-container"></div>
                      <div class="ripple-container"></div></button>
                    </div>
                  </div>
            <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                    <button type="submit" class="btn btn-white btn-round">Staking
                        <div class="ripple-container"></div>
                      <div class="ripple-container"></div></button>
                  </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                    <button type="submit" class="btn btn-white btn-round">Refresh
                        <div class="ripple-container"></div>
                      <div class="ripple-container"></div></button>
                  </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header  card-header-icon">
            <div class="card-icon data-widget-yellow">
              <i class="material-icons black-dash-icon">local_atm</i>
            </div>
            <p class="card-category">Bonus Balance</p>
            <h3 class="card-title">54.45454
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-success">build</i>
              <a href="#">Get More Balance</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header  card-header-icon">
            <div class="card-icon data-widget-black">
              <i class="material-icons">attach_money</i>
            </div>
            <p class="card-category">Today Earn</p>
            <h3 class="card-title">0.0000</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-success">build</i>
              <a href="#">Get More Balance</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header  card-header-icon">
            <div class="card-icon data-widget-yellow">
              <i class="material-icons black-dash-icon">money</i>
            </div>
            <p class="card-category">Total Earn</p>
            <h3 class="card-title">0.00000</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-success">build</i>
              <a href="#">Get More Balance</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header  card-header-icon">
            <div class="card-icon data-widget-black">
              <i class="material-icons">bar_chart</i>
            </div>
            <p class="card-category">Total Staking</p>
            <h3 class="card-title">15</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-success">build</i>
              <a href="#">Get More Referrals</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header  card-header-icon">
            <div class="card-icon data-widget-yellow">
              <i class="material-icons black-dash-icon">arrow_forward</i>
            </div>
            <p class="card-category">Direct Referral</p>
            <h3 class="card-title">15</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-success">build</i>
              <a href="#">Get More Referrals</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header  card-header-icon">
            <div class="card-icon data-widget-black">
              <i class="material-icons">store</i>
            </div>
            <p class="card-category">Sales Left</p>
            <h3 class="card-title">15</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-success">build</i>
              <a href="#">Get More Referrals</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header  card-header-icon">
            <div class="card-icon data-widget-yellow">
              <i class="material-icons black-dash-icon">store</i>
            </div>
            <p class="card-category">Sales Right</p>
            <h3 class="card-title">15</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-success">build</i>
              <a href="#">Get More Referrals</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header  card-header-icon">
            <div class="card-icon data-widget-black">
              <i class="material-icons">360</i>
            </div>
            <p class="card-category">Exchange</p>
            <h3 class="card-title">15</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-success">build</i>
              <a href="#">Get More Referrals</a>
            </div>
          </div>
        </div>
      </div>

<div class="col-lg-3 col-md-6 col-sm-6 text-center">
        <button type="submit" class="btn btn-white btn-round">Exchange
            <div class="ripple-container"></div>
          <div class="ripple-container"></div></button>
      </div>
<div class="col-lg-3 col-md-6 col-sm-6">
        <button type="submit" class="btn btn-white btn-round">Convert
            <div class="ripple-container"></div>
          <div class="ripple-container"></div></button>
      </div>

      
      <!-- <p-menubar [model]="items"></p-menubar> -->
    </div>
    