
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">gesture</i>
            </div>
            <p class="card-category">Rec Balance</p>
            <h3 class="card-title">54.45454
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-success">build</i>
              <a href="#">Get More Balance</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">store</i>
            </div>
            <p class="card-category">Rich Balance</p>
            <h3 class="card-title">0.0000</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-success">build</i>
              <a href="#">Get More Balance</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">info_outline</i>
            </div>
            <p class="card-category">BTC Balance</p>
            <h3 class="card-title">0.00000</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-success">build</i>
              <a href="#">Get More Balance</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="fa fa-twitter"></i>
            </div>
            <p class="card-category">Direct Referral</p>
            <h3 class="card-title">15</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-success">build</i>
              <a href="#">Get More Referrals</a>
            </div>
          </div>
        </div>
      </div>
<div class="col-lg-6 col-md-6 col-sm-6 text-center">
<div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="https://domain.com/ref/1AD123ADKLE">
          <button type="submit" class="btn btn-white btn-round">Copy
            <div class="ripple-container"></div>
          <div class="ripple-container"></div></button>
        </div>
      </div>
<div class="col-lg-3 col-md-6 col-sm-6 text-center">
        <button type="submit" class="btn btn-white btn-round">Staking
            <div class="ripple-container"></div>
          <div class="ripple-container"></div></button>
      </div>
<div class="col-lg-3 col-md-6 col-sm-6">
        <button type="submit" class="btn btn-white btn-round">Refresh
            <div class="ripple-container"></div>
          <div class="ripple-container"></div></button>
      </div>
<div class="col-lg-3 col-md-6 col-sm-6 text-center">
        <button type="submit" class="btn btn-white btn-round">Exchange
            <div class="ripple-container"></div>
          <div class="ripple-container"></div></button>
      </div>
<div class="col-lg-3 col-md-6 col-sm-6">
        <button type="submit" class="btn btn-white btn-round">Convert
            <div class="ripple-container"></div>
          <div class="ripple-container"></div></button>
      </div>


      <!-- <p-menubar [model]="items"></p-menubar> -->
    </div>
